extends ../default/index.jade

block main
  - var sections = [];
  - sections.push(['Introduction', ['Overview', 'Design', 'Installation', 'References']]);
  - sections.push(['Protocols', ['Overview', 'References']])
  - sections.push(['Resources', ['Overview', 'Design', 'Tutorial', 'Mediatypes', 'Testing', 'References']])
  - sections.push(['Dispatch', ['Overview', 'References']])
  - sections.push(['Services', ['Overview', 'References']])
  - function toSlug(str) { return str.toLowerCase().replace(' ', '-'); }
  - function guideLink(section, subsection) { return '/guide/' + toSlug(section) + '/' + toSlug(subsection) + '/';}

  .Guide
    .Guide-sidenav
      ul.Guide-sidenav-links
        each section in sections
          li.Guide-sidenav-link
            .Guide-sidenav-link-text
              a.Guide-sidenav-link-anchor(href=guideLink(section[0], section[1][0])
                                          class={'is-active': locals.path.indexOf('/guide/' + toSlug(section[0])) === 0})= section[0]
            ul.Guide-sidenav-sublinks
              each subsection in section[1]
                li.Guide-sidenav-sublink
                  - var href = guideLink(section[0], subsection);
                  a.Guide-sidenav-sublink-anchor(href=href class={'is-active': locals.path + '/' == href})= subsection

    .Guide-content
      a.Guide-content-edit(target='__blank' href='https://github.com/poegroup/poegroup.github.io/edit/source/' + locals.filename) Edit this page
      block content