extends ../default/index.jade

block main
  - var poe = [];
  - poe.push(['Introduction', ['Overview', 'References']]);
  - poe.push(['hyper+json', ['Overview', 'References']]);
  - var cli = [];
  - cli.push(['Introduction', ['Overview', 'Design', 'Installation', 'References']]);
  - cli.push(['ui', ['Overview', 'References']]);
  - cli.push(['api', ['Overview', 'References']]);
  - var ui = [];
  - ui.push(['Introduction', ['Overview', 'Design', 'Installation', 'References']]);
  - ui.push(['Templates', ['Overview', 'References']]);
  - ui.push(['Styles', ['Overview', 'References']]);
  - ui.push(['Compilation', ['Overview', 'References']]);
  - ui.push(['Testing', ['Overview', 'References']]);
  - ui.push(['Deploying', ['Overview', 'References']]);
  - ui.push(['Monitoring', ['Overview', 'References']]);
  - var api = [];
  - api.push(['Introduction', ['Overview', 'Design', 'Installation', 'References']]);
  - api.push(['Testing', ['Overview', 'References']]);
  - api.push(['Deploying', ['Overview', 'References']]);
  - api.push(['Monitoring', ['Overview', 'References']]);

  - var groups = [['poe', poe], ['poe-cli', cli], ['poe-ui', ui], ['poe-api', api]];

  - function toSlug(str) { return str.toLowerCase().replace(' ', '-').replace('+', '-'); }
  - function guideLink(group, section, subsection) { return ('/guide/' + toSlug(group) + '/' + toSlug(section) + '/') + (subsection ? toSlug(subsection) + '/' : ''); }

  .Guide
    .Guide-sidenav
      ul.Guide-sidenav-links
        each group in groups
          li.Guide-sidenav-section
            .Guide-sidenav-section-text
              - var groupSlug = group[0].replace('poe-', '');
              - var isActive = ~locals.path.indexOf('/guide/' + groupSlug + '/');
              - var sections = group[1];
              a.Guide-sidenav-section-anchor(href=guideLink(groupSlug, sections[0][0], sections[0][1][0])
                                          class={'is-active': isActive})= group[0]
              if isActive
                ul.Guide-sidenav-links
                  each section in sections
                    li.Guide-sidenav-link
                      - var shref = guideLink(groupSlug, section[0], section[1][0]);
                      a.Guide-sidenav-link-anchor(href=shref class={'is-active': locals.path + '/' == shref})= section[0]

                      ul.Guide-sidenav-sublinks
                        each subsection in section[1]
                          li.Guide-sidenav-sublink
                            - var sshref = guideLink(groupSlug, section[0], subsection);
                            a.Guide-sidenav-sublink-anchor(href=sshref class={'is-active': locals.path + '/' == sshref})= subsection

    .Guide-content
      a.Guide-content-edit(target='__blank' href='https://github.com/poegroup/poegroup.github.io/edit/source/' + locals.filename) Edit this page
      block content
